* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: var(--bg-color);
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  height: auto;
  width: 30rem;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}
//////////////////////////////
.theme-toggler {
  position: absolute;
  top: 60px;
  right: 30px;
  color: rgb(113, 113, 113);
  cursor: pointer;
  z-index: 1;
}

.theme-toggler.active {
  color: rgb(113, 113, 113);
}

.theme-toggler.active::before {
  background-color: rgb(113, 113, 113);;
}
.btn.active{
  color: var(--white-color);
}
.btn::before{
  color: var(--white-color);
}
.buttons.active{
  background-color: var(--bottom-color);
}
.buttons.active::before{
  background-color: #fff;
}
.buttons::before{
  background-color: #fff;
}
.statusbar.active{
  color: rgb(113, 113, 113);
}
.statusbar.active::before{
  color: rgb(113, 113, 113);
}

.theme-toggler::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}
button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

/* light theme */
.calculator {
  background-color: var(--white-color);
}


/* dark theme */

.calculator.dark {
  background-color: #071115;
}
.buttons.dark {
  background-color: #e4e4e4;
  
}
.numberKey.active{
  color: #828282;
}
.display-screen {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}
.inputA {
  width: 100%;
  border: none;
  flex-grow: 1;
  height: 8rem;
  text-align: right;
  font-size: 3.5rem;
  background-color: transparent;
  color: var(--white-color);
  margin: 3rem 0;
  word-wrap: break-word;
  word-break: break-all;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  background-color: var(--bottom-color);

}
.btn {
  background-color: transparent;
  // color: var(--white-color);
}
.mainKey {
  color: var(--darkOrange-color);
}

.statusbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    // color: var(--white-color);
    margin: 2rem;
  }
  i {
    // color: var(--white-color);
    margin: 2rem;
  }
}
